body{
    font-family: 'Montserrat-Black', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat-bold", sans-serif;
}

p{
    color: #8f8f8f;
}
/* Headings */

.big-headings {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 800;
}

.pricing-heading {
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: bold;
}
/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/* Secitons */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3rem;
}

.nav-item{
    padding: 0 25px;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}
 /* Title */ 

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 55%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */

#features{
    position: relative;
}

.feature-title{
    font-size: 2.5rem;
    font-weight: bold;
}

.features-box{
    padding: 5%;

}

.fas{
    color: #ef8172;
    margin-bottom: 1rem;
}

.fas:hover{
    color: #ff4c68;
}

.features-p{
    color: #8f8f8f;
    font-size: 1.5rem;
}

/* Testimonials Section */

#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: bold;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 150px;
}
.pricing-title {
    font-size: 2.5rem;
    font-weight: bold;
}
.pricing-text{
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.pricing-coloumn{
    padding: 3% 2%;
}

/* call the action */

/* Footer */

#footer{
    background-color: #fff;
    padding: 3%;
}


.social-logo{
    margin: 1%;
}

@media (max-width: 1250px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}